<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ my_username }} Adoption Data</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/images/lichess_logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/scroll_container.css') }}">
</head>
<body>
    <div class="page-container">
        <h1> {{ my_username }} Adoption Data </h1> 
        <!-- Adoption -->
        <hr>
        <h2>{{ my_username }} adopted players</h2>
        
        <div style="text-align: center; margin-bottom: 10px;">
            Show: 
            <select id="topFilterAdopted">
                <option value="10">Top 10</option>
                <option value="20">Top 20</option>
                <option value="30">Top 30</option>
                <option value="all">Show All</option>
            </select>
        </div>
        
        <div class="table-toggles">
          <label>
            <input type="checkbox" id="toggleTableAdopted" checked>
                Show Adopted Table
            </label>
        </div>

        <!-- <canvas id="barAdopted"></canvas> -->
        <canvas id="scatterAdopted"></canvas>
        <div class="scroll-container" id="scroll_1">
            <table id="tableAdopted">
                <thead>
                    <tr>
                        <th data-sort="num" data-dir="desc">Num Adoptions ▼</th>
                        <th data-sort="name" data-dir="asc">Player Name</th>
                        <th data-sort="elo" data-dir="desc">Highest Elo ▼</th>
                        <th>Sites</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in adopted %}
                    <tr>
                        <td>{{ p.num_win_streaks }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.highest_elo }}</td>
                        <td>
                        <ul>
                        {% for s in p.win_sites %}
                            <li><a href="{{ s }}" target="_blank">{{ s }}</a></li>
                        {% endfor %}
                        </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <!-- Been Adopted -->
        <h2>{{ my_username }} been-adopted data:</h2>
        
        <div style="text-align: center; margin-bottom: 10px;">
            Show: 
            <select id="topFilterBeenAdopted">
                <option value="10">Top 10</option>
                <option value="20">Top 20</option>
                <option value="all">Show All</option>
            </select>
        </div>

        <div class="table-toggles">
            <label>
                <input type="checkbox" id="toggleTableBeenAdopted" checked>
                Show Been-Adopted Table
            </label>
        </div>

        <!-- <canvas id="barBeenAdopted"></canvas> -->
        <canvas id="scatterBeenAdopted"></canvas>
        <div class="scroll-container" id="scroll_2">
            <table id="tableBeenAdopted">
                <thead>
                    <tr>
                        <th data-sort="num" data-dir="desc">Num Times Adopted ▼</th>
                        <th data-sort="name" data-dir="asc">Player Name</th>
                        <th data-sort="elo" data-dir="desc">Highest Elo ▼</th>
                        <th>Sites</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in been_adopted %}
                    <tr>
                        <td>{{ p.num_lose_streaks }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.highest_elo }}</td>
                        <td>
                        <ul>
                            {% for s in p.lose_sites %}
                            <li><a href="{{ s }}" target="_blank">{{ s }}</a></li>
                            {% endfor %}
                        </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p style="text-align:center;"><a href="{{ url_for('index') }}">Back to Home</a></p>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const fullAdopted = {{ adopted|tojson }};
        const fullBeenAdopted = {{ been_adopted|tojson }};
    </script>
    <script src="{{ url_for('static', filename='scripts/adoption_data.js') }}"></script>
</body>
</html>

