<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ my_username }} Most Common Openings</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/images/beaker.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/results_pie_chart.css') }}">
</head>
<body>
    <div class="page-container">
        <h1>{{ my_username }} Most Common Openings</h1>

        <canvas style="display: inline" id="whiteChart"></canvas>
        <canvas style="display: inline" id="blackChart"></canvas>
        <br>
        <h2>Top Openings (White vs Black)</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>White Opening</th>
                    <th>White Count</th>
                    <th>Black Opening</th>
                    <th>Black Count</th>
                </tr>
            </thead>
            <tbody>
                {% for rank, (w_opening, w_count), (b_opening, b_count) in combined_rows %}
                <tr>
                    <td>{{ rank }}</td>
                    <td>{{ w_opening }}</td>
                    <td>{{ w_count }}</td>
                    <td>{{ b_opening }}</td>
                    <td>{{ b_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <p>Above show the most popular openings played by {{ my_username }} with White and Black pieces.</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const whiteLabels = {{ white_labels|tojson }};
        const whiteCounts = {{ white_counts|tojson }};
        const blackLabels = {{ black_labels|tojson }};
        const blackCounts = {{ black_counts|tojson }};
    </script>

    <script src="{{ url_for('static', filename='scripts/most_common_openings.js')}}"></script>

    <p style="text-align:center;"><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
