<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ my_username }} Casual Game Rating Simulation</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/images/beaker.ico')}}">
    
    <!-- Dark Theme CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <!-- 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/games_per_month.css')}}">
    -->
    
</head>
<body>
<div class="page-container">

    <h1>{{ my_username }} Casual Game Rating Simulation</h1>
    <p>This graph explores the rating of a player if casual games were rated.</p>

    <canvas id="ratingChart"></canvas>
    
    <p>
    Highest simulated elo: {{ highest_test_elo }} <br>
    Average simulated elo: {{ average_test_elo }} <br>
    </p>

    <!-- JS -->
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Common Dark Theme Options -->
    <script src="{{ url_for('static', filename='scripts/common_charts.js') }}"></script>

    <!-- Data from Flask -->
    <script>
        const labels = {{ labels|tojson }};
        const highs  = {{ highs|tojson }};
        const avgs   = {{ avgs|tojson }};
        const lows   = {{ lows|tojson }};
    </script>

    <!-- Page Source -->
    <script src="{{ url_for('static', filename='scripts/casual_rating_simulation.js')}}"></script> 

    <p style="text-align:center;"><a href="{{ url_for('dashboard') }}">Back to Home</a></p>
</div>

</body>
</html>

