<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ my_username }} Casual Game Rating Simulation</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/images/lichess_logo.png')}}">
    
    <!-- Dark Theme CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <!-- 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/games_per_month.css')}}">
    -->
    
</head>
<body>
<div class="page-container">

    <h1>{{ my_username }} Casual Game Rating Simulation</h1>
    <p>This graph explores the rating of a player if casual games were rated.</p>

    <canvas id="casual_game_simulation_line_graph"></canvas>

    <!-- JS -->
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Common Dark Theme Options -->
    <script src="{{ url_for('static', filename='scripts/common_charts.js') }}"></script>

    <!-- Data from Flask -->
    <script>
        const times = {{ times|tojson }};
        const ratings = {{ ratings|tojson }};
    </script>

    <!-- Page Source -->
    <script src="{{ url_for('static', filename='scripts/casual_rating_simulation.js')}}"></script>

    <p style="text-align:center;"><a href="{{ url_for('index') }}">Back to Home</a></p>
</div>

</body>
</html>

