<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Top Wins - {{ my_username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top_wins.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/results_pie_chart.css') }}">
</head>
<body>
    <div class="page-container">
        <h1>Top Wins for {{ my_username }}</h1>
        <div class="controls">
            <label for="winCategory">Select Category:</label>
            <select id="winCategory">
                <option value="rated">Rated Wins</option>
                <option value="rated_titled">Rated Titled Wins</option>
                <option value="casual">Casual Wins</option>
                <option value="casual_titled">Casual Titled Wins</option>
            </select>
        </div>
        
        <div class="scroll-container">
            <div id="tableContainer" class="table-container"></div>
        </div>
    </div>
    <p style="text-align:center;"><a href="{{ url_for('index') }}">Back to Home</a></p>
    
    <script>
        const winsData = {
            rated: {{ top_rated_wins|tojson }},
            rated_titled: {{ top_rated_titled_wins|tojson }},
            casual: {{ top_casual_wins|tojson }},
            casual_titled: {{ top_casual_titled_wins|tojson }}
        };
    </script>
    <script src="{{ url_for('static', filename='scripts/top_wins.js')}}"></script>
</body>
</html>

